.App {
  text-align: center;
  
}

.container{
  border: 1px solid black;
  box-shadow: 2px 3px #ccc;
  margin: 50px;
  padding: 10px;
  text-align: center;
  width: 90%;
  background-color: lightgray
}

.container1{
  width:100%;
}

.inp{
  height: 50px;
}
.button1{
  backgroundColor: blue;
  margin-top: 50px;
  width: 100px;
  height: 200px;
}